// MAIN :: START

section#main.main
  .c-grid
    .main__wrapper
      .main__wrapper-left

        h1.main__title.title.viewport-hide-js!= "We develop amazing mobile apps & digital products"

        +btn("main__btn viewport-hide-js", "Check our work")

      .main__wrapper-right

        img.main__img.viewport-hide-js(
          src="./img/img-bg-home__main.png"
          srcset="./img/img-bg-home__main@2x.png 2x"
          title=""
          alt=""
          translateRightImage-large-css
        )

// MAIN :: END