// MAIN :: START

section#main.main
  .c-grid
    .main__wrapper
      .main__wrapper-left

        h1.main__title.title!= "We develop amazing mobile apps & digital products"

        a.main__btn.btn(
          href="#"
          class=""
          title!= ""
        )
          span!= "Check our work"
          i.animated

      .main__wrapper-right

        img.main__img(
          src="./img/img-bg-home__main.png"
          srcset="./img/img-bg-home__main@2x.png 2x"
          title=""
          alt=""
        )

// MAIN :: END