// MAP :: START

section#map.map
  .map__bg
    img(
      src="./img/img-bg__map.jpg"
      srcset="./img/img-bg__map@2x.jpg 2x"
      title=""
      alt=""
    )

  .c-grid
    .map__wrapper

      .map__block.map__block-0.viewport-hide-js(
        data-animation-name="slideInLeft"
        data-animation-delay="0.3s"
      )
        p.map__block-title!= "Montreal"

        p.map__block-index!= "4446 Saint Laurent, Suite 1000"
        p.map__block-address!= "Montreal, QC, H2W 1Z5, Canada"

        p.map__block-phone!= "+1 (514) 613 6050"

        a.map__block-link(href="tel:+1 (514) 613 6050" title="")!= "Call Us"
        a.map__block-link(href="#" title="")!= "Email Us"

      .map__block.map__block-1.viewport-hide-js(
        data-animation-name="slideInLeft"
        data-animation-delay="0.4s"
      )
        p.map__block-title!= "Toronto"

        p.map__block-index!= "250 University Ave, Suite 200"
        p.map__block-address!= "Toronto, ON, M5H 3E5, Canada"

        p.map__block-phone!= "+1 (647) 559 3001"

        a.map__block-link(href="tel:+1 (647) 559 3001" title="")!= "Call Us"
        a.map__block-link(href="#" title="")!= "Email Us"

// MAP :: END