// SOLVE :: START

section#solve.solve
  .c-grid
    .solve__wrapper
      .solve__wrapper-left

        h1.solve__title.title.viewport-hide-js!= "We solve your <br>challenges"
        p.solve__subtitle.viewport-hide-js!= "By putting our design and development talents to work we build products that engage users and help you achieve your business objectives"

      .solve__wrapper-right

        img.solve__img.viewport-hide-js(
          src="./img/img-bg__solve.png"
          srcset="./img/img-bg__solve@2x.png 2x"
          title=""
          alt=""
          translateRightImage-large-css
          data-animation-name="slideInRight"
        )

// SOLVE :: END