// INS :: START

section#ins.ins
  .c-grid
    .ins__wrapper.ins__wrapper-0
      h2.ins__title.title.viewport-hide-js!= "Let’s the gods judge you"
      p.ins__text.viewport-hide-js!= "Yama is a gamified voting mobile app where users have fun by letting other users choose between two items."

      img.ins__img.viewport-hide-js(
        src="./img/img-ins-0.png"
        srcset="./img/img-ins-0@2x.png 2x"
        title=""
        alt=""
      )

    .ins__wrapper.ins__wrapper-1
      h2.ins__title.title.viewport-hide-js!= "Real Time Voting System"
      p.ins__text.viewport-hide-js!= "Our solution to this digital product was to create a voting system that was both real time and fun to play with. The design was very clean to center the focus on the photos being compared and to avoid distractions."

      img.ins__img.viewport-hide-js(
        src="./img/img-ins-1.png"
        srcset="./img/img-ins-1@2x.png 2x"
        title=""
        alt=""
      )

    .ins__wrapper.ins__wrapper-2
      .ins__btn-wrap.viewport-hide-js
        +btn("ins__btn", "Back to Full Portfolio", "portfolio.html")

// INS :: END