// MAIN PORTFOLIO SINGLE :: START

section#main.main

  .main__bg
    .main__bg-left
      img.main__img(
        src="./img/img-bg-portfolioSingle__main.png"
        srcset="./img/img-bg-portfolioSingle__main@2x.png 2x"
        title=""
        alt=""
      )
    .main__bg-right

  .c-grid
    .main__wrapper
      .main__wrapper-left
      .main__wrapper-right
        h1.main__title!= "Yama"
        p.main__subtitle!= "Let the gods judge you"

        .main__btn-wrap
          a.main__btn(href="#" class="" title="")!= "iOS"
          a.main__btn(href="#" class="" title="")!= "Android"


// MAIN PORTFOLIO SINGLE :: END