// RESOURCES BLOCK :: START

-
  var resourcesBlockData = [
    {
      subtitle: 'App Marketing',
      title: 'Acquiring and retaining users',
      link: 'Learn More'
    },
    {
      subtitle: 'MVP from A to Z',
      title: 'Crafting your app plan',
      link: 'Learn More'
    },
    {
      subtitle: 'Tools & Resources',
      title: 'The ultimate appreneur list',
      link: 'Learn More'
    },
    {
      subtitle: 'UI/UX',
      title: 'Understanding mobile usability and its impact on conversions',
      link: 'Learn More'
    },
    {
      subtitle: 'Development',
      title: 'App development for the non-tech savvy',
      link: 'Learn More'
    },
    {
      subtitle: 'Industry Insights',
      title: 'Keep yourself up to date with the latest emerging trends',
      link: 'Learn More'
    },
    {
      subtitle: 'UI/UX',
      title: 'Mobile app development for enterprises',
      link: 'Learn More'
    },
    {
      subtitle: 'Funding your mobile app',
      title: 'Get you app startup off the paper',
      link: 'Learn More'
    },
    {
      subtitle: 'Learn with Guaraná',
      title: 'All about the  mobile app development process\n',
      link: 'Learn More'
    }
  ];

section#rblock.rblock
  .c-grid
    .rblock__wrapper
      each val, idx in resourcesBlockData
        .rblock__box(class!= "rblock__box-" + idx)
          img.rblock__box-img(
            src="./img/img-rblock-" + idx + ".jpg"
            srcset="./img/img-rblock-" + idx + "@2x.jpg 2x"
            title=""
            alt=""
          )
          .rblock__box-wrap
            div
              p.rblock__box-subtitle!= resourcesBlockData[idx].subtitle
              p.rblock__box-title!= resourcesBlockData[idx].title
              a.rblock__box-link(href="#" title="" class="")!= resourcesBlockData[idx].link

// RESOURCES BLOCK :: END