// CATEGORY :: START

-
  var categoryFilterBtn = [
    {
      attr: 'ios',
      name: 'iOS'
    },
    {
      attr: 'android',
      name: 'Android'
    },
    {
      attr: 'webapp',
      name: 'Web App'
    },
    {
      attr: 'iot',
      name: 'IoT & Connected Objects'
    },
    {
      attr: 'bluetooh',
      name: 'Beacon & Bluetooh'
    },
    {
      attr: 'studies',
      name: 'Case Studies'
    }
  ];
  var categoryFilterBoxData = [
    {
      imgName: 'img-selected-0',
      title: 'Waste Wizard',
      text: 'Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque se.',
      tagArr: [
        'iOS',
        'Android'
      ]
    },
    {
      imgName: 'img-selected-1',
      title: 'Fan Metrix',
      text: 'Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam.',
      tagArr: [
        'iOS',
        'Android',
        'IoT & Connected Objects'
      ]
    },
    {
      imgName: 'img-selected-2',
      title: 'Uto',
      text: 'Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue en.',
      tagArr: [
        'iOS',
        'Android',
        'Web App'
      ]
    },
    {
      imgName: 'img-selected-2',
      title: 'Waste Wizard',
      text: 'Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque se.',
      tagArr: [
        'iOS',
        'Android'
      ]
    },
    {
      imgName: 'img-selected-1',
      title: 'Fan Metrix',
      text: 'Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam.',
      tagArr: [
        'iOS',
        'Android',
        'IoT & Connected Objects'
      ]
    },
    {
      imgName: 'img-selected-0',
      title: 'Uto',
      text: 'Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue en.',
      tagArr: [
        'iOS',
        'Android',
        'Web App'
      ]
    },
    {
      imgName: 'img-selected-1',
      title: 'Waste Wizard',
      text: 'Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque se.',
      tagArr: [
        'iOS',
        'Android'
      ]
    },
    {
      imgName: 'img-selected-0',
      title: 'Fan Metrix',
      text: 'Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam.',
      tagArr: [
        'iOS',
        'Android',
        'IoT & Connected Objects'
      ]
    },
    {
      imgName: 'img-selected-2',
      title: 'Uto',
      text: 'Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue en.',
      tagArr: [
        'iOS',
        'Android',
        'Web App'
      ]
    },
  ];


mixin categoryBox(idx, imgName, title, text, tagArr)
  .category__box(class!="category__box-" + idx)
    .category__box-img
      img(
        src="./img/" + imgName + ".png"
        srcset="./img/" + imgName + "@2x.png 2x"
        title=""
        alt=""
      )
    p.category__box-title!= title
    hr.category__box-line
    p.category__box-text!= text
    .category__box-tag
      each val0, idx0 in tagArr
        a(
          href="#" title="" class=""
        )!= val0


section#category.category

  .category__row.category__row-0
    .c-grid
      .category__wrapper.category__wrapper-0
        h2.category__title!= "Browser per categories"

        .category__filter
          each val, idx in categoryFilterBtn
            a.category__filter-btn(
              href="#" title="" class=""
              data-filterBtn!= categoryFilterBtn[idx].attr
              category-filterBtn-js
            )!= categoryFilterBtn[idx].name


  .category__row.category__row-1
    .c-grid
      .category__wrapper.category__wrapper-1

        each val, idx in categoryFilterBoxData
          +categoryBox(
            idx,
            categoryFilterBoxData[idx].imgName,
            categoryFilterBoxData[idx].title,
            categoryFilterBoxData[idx].text,
            categoryFilterBoxData[idx].tagArr
          )

// CATEGORY :: END