// MAIN PORTFOLIO :: START

section#main.main

  .main__bg
    img.main__img.viewport-hide-js(
      data-animation-name="slideInRight"
      src="./img/img-bg-portfolio__main.png"
      srcset="./img/img-bg-portfolio__main@2x.png 2x"
      title=""
      alt=""
    )

  .c-grid
    .main__wrapper
      .main__wrapper-left

        h1.main__title.title.title--medium.viewport-hide-js!= "A sum of great technology, innovative business culture, and smart people"

        a.main__btn.viewport-hide-js(
          href="#category"
          class=""
          title!= ""
          portfolioSmooth-btn-js
          data-animation-name="zoomIn"
        )
          i.animated.slideInDown

      .main__wrapper-right

// MAIN PORTFOLIO :: END