// DETAILS :: START

section#details.details
    .details__wrapper
      .details__block.details__block-0.viewport-hide-js(
        data-animation-name="slideInLeft"
      )
        p.title!= "Internet of things"
        p!= "Lorem ipsum dolor sit"

        img(
          src="./img/img-bg-0__details.png"
          srcset="./img/img-bg-0__details@2x.png 2x"
          title=""
          alt=""
        )

        .details__block--hide.animated
          p.title.title--medium!= "Internet of things"
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."


      .details__block.details__block-1.viewport-hide-js(
        data-animation-name="slideInRight"
      )
        p.title!= "Augmented<br>Reality"

        .details__block--hide.animated
          p.title.title--medium!= "Internet of things"
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."


      .details__block.details__block-2.viewport-hide-js(
        data-animation-name="slideInLeft"
      )
        p.title.title--elarge!= "Beacon"

        img(
          src="./img/img-bg-2__details.png"
          srcset="./img/img-bg-2__details@2x.png 2x"
          title=""
          alt=""
        )

        .details__block--hide.animated
          p.title.title--medium!= "Internet of things"
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."


      .details__block.details__block-3.viewport-hide-js(
        data-animation-name="slideInRight"
      )
        p!= "Web Apps"

        img(
          src="./img/img-bg-3__details.png"
          srcset="./img/img-bg-3__details@2x.png 2x"
          title=""
          alt=""
        )

        .details__block--hide.animated
          p.title.title--medium!= "Internet of things"
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
          span!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."


// DETAILS :: END