// PROJECT :: START

section#project.project
    .project__wrapper
      .c-grid
        h1.project__title.title.title--medium!= "Selected projects case studies"

      .project__case.project__case-0
        .project__case-bg
          .project__case-bg--left
          .project__case-bg--right
            img(
              src="./img/img-project-0.png"
              srcset="./img/img-project-0@2x.png 2x"
              title=""
              alt=""
            )

        .c-grid
          .project__case-left
            .project__case-wrap
              p.project__case-title.title!= "Evenflow"
              p.project__case-text!= "In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique.."
              +btn("project__case-btn", "View full case", "portfolio-single.html")

          .project__case-right
            img(
              src="./img/img-project-0.png"
              srcset="./img/img-project-0@2x.png 2x"
              title=""
              alt=""
            )

      .project__case.project__case-1
        .project__case-bg
          .project__case-bg--left
            img(
              src="./img/img-project-1.png"
              srcset="./img/img-project-1@2x.png 2x"
              title=""
              alt=""
            )
          .project__case-bg--right

        .c-grid
          .project__case-left
            img(
              src="./img/img-project-1.png"
              srcset="./img/img-project-1@2x.png 2x"
              title=""
              alt=""
            )
          .project__case-right
            .project__case-wrap
              p.project__case-title.title!= "Numnu"
              p.project__case-text!= "Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Ve."
              +btn("project__case-btn", "View full case", "portfolio-single.html")

      .project__case.project__case-2
        .project__case-bg
          .project__case-bg--left
          .project__case-bg--right
            img(
              src="./img/img-project-2.png"
              srcset="./img/img-project-2@2x.png 2x"
              title=""
              alt=""
            )

        .c-grid
          .project__case-left
            .project__case-wrap
              p.project__case-title.title!= "Carbon"
              p.project__case-text!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper."
              +btn("project__case-btn", "View full case", "portfolio-single.html")

          .project__case-right
            img(
              src="./img/img-project-2.png"
              srcset="./img/img-project-2@2x.png 2x"
              title=""
              alt=""
            )

      .project__case.project__case-3
        .project__case-bg
          .project__case-bg--left
            img(
              src="./img/img-project-3.png"
              srcset="./img/img-project-3@2x.png 2x"
              title=""
              alt=""
            )
          .project__case-bg--right

        .c-grid
          .project__case-left
            img(
              src="./img/img-project-3.png"
              srcset="./img/img-project-3@2x.png 2x"
              title=""
              alt=""
            )
          .project__case-right
            .project__case-wrap
              p.project__case-title.title!= "Yama"
              p.project__case-text!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper."
              +btn("project__case-btn", "View full case", "portfolio-single.html")

// PROJECT :: END