// SWIPER :: START

//- Slider main container
.swiper-container.swiper--reviews

  //- Additional required wrapper
  .swiper-wrapper
    .swiper-slide
      .reviews__icon-wrap
        i.reviews__icon

      p.reviews__text!= "Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore. Actually artisan organic occupy, Wes Anderson ugh whatever pou."

      p.reviews__name!= "Dave Heptinstall"
      p.reviews__position!= "Chief Engineer"

      .reviews__btn-wrap
        +btn("reviews__btn", "See more reviews")

    .swiper-slide
      .reviews__icon-wrap
        i.reviews__icon

      p.reviews__text!= "Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore. Actually artisan organic occupy, Wes Anderson ugh whatever pou."

      p.reviews__name!= "Dave Heptinstall"
      p.reviews__position!= "Chief Engineer"

      .reviews__btn-wrap
        +btn("reviews__btn", "See more reviews")

    .swiper-slide
      .reviews__icon-wrap
        i.reviews__icon

      p.reviews__text!= "Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore. Actually artisan organic occupy, Wes Anderson ugh whatever pou."

      p.reviews__name!= "Dave Heptinstall"
      p.reviews__position!= "Chief Engineer"

      .reviews__btn-wrap
        +btn("reviews__btn", "See more reviews")

    .swiper-slide
      .reviews__icon-wrap
        i.reviews__icon

      p.reviews__text!= "Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore. Actually artisan organic occupy, Wes Anderson ugh whatever pou."

      p.reviews__name!= "Dave Heptinstall"
      p.reviews__position!= "Chief Engineer"

      .reviews__btn-wrap
        +btn("reviews__btn", "See more reviews")

    .swiper-slide
      .reviews__icon-wrap
        i.reviews__icon

      p.reviews__text!= "Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore. Actually artisan organic occupy, Wes Anderson ugh whatever pou."

      p.reviews__name!= "Dave Heptinstall"
      p.reviews__position!= "Chief Engineer"

      .reviews__btn-wrap
        +btn("reviews__btn", "See more reviews")

  //- If we need pagination
  .swiper-pagination

// SWIPER :: END