// SWIPER VALUES :: START

//- Slider main container
.swiper-container.swiper--values

  //- Additional required wrapper
  .swiper-wrapper
    .swiper-slide
      p!= 'We commit to concept’s perfect execution'
      p!= 'Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod.'

    .swiper-slide
      p!= 'We commit to concept’s perfect execution'
      p!= 'Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod.'

    .swiper-slide
      p!= 'We commit to concept’s perfect execution'
      p!= 'Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod.'

  //- If we need pagination
  .swiper-pagination

// SWIPER VALUES :: END