// LOCATION :: START

section#location.location
  .c-grid
    .location__wrapper
      .location__box.location__box-0
        p.location__box-title.title!= "Montreal"

        p.location__box-index!= "4446 Saint Laurent, Suite 1000"
        p.location__box-address!= "Montreal, QC, H2W 1Z5, Canada"

        p.location__box-phone!= "+1 (514) 613 6050"

        a.location__box-link(href="tel:+1 (514) 613 6050" title="")!= "Call Us"
        a.location__box-link(href="#" title="")!= "Email Us"

      .location__box.location__box-1
        p.location__box-title.title!= "Toronto"

        p.location__box-index!= "250 University Ave, Suite 200"
        p.location__box-address!= "Toronto, ON, M5H 3E5, Canada"

        p.location__box-phone!= "+1 (647) 559 3001"

        a.location__box-link(href="tel:+1 (647) 559 3001" title="")!= "Call Us"
        a.location__box-link(href="#" title="")!= "Email Us"

      .location__box.location__box-2
        p.location__box-title.title!= "USA"

        p.location__box-index!= "usa@guarana-technologies.com"
        p.location__box-address!= "USA"

        p.location__box-phone!= "+1 (718) 395 4850"

        a.location__box-link(href="++1 (718) 395 4850" title="")!= "Call Us"
        a.location__box-link(href="#" title="")!= "Email Us"


// LOCATION :: END