// PARTNER :: START

-
  var partner = [
    "./img/img-partner-0",
    "./img/img-partner-1",
    "./img/img-partner-2",
    "./img/img-partner-0",
    "./img/img-partner-1",
    "./img/img-partner-2"
  ];

section#partner.partner
  .c-grid
    .partner__wrapper

      ul.partner__list
        each val, idx in partner
          li.partner__item.viewport-hide-js(
            data-animation-name="slideInRight"
            data-animation-delay!= (0.3 + parseFloat(0.1 * idx)).toFixed(1) + "s"
          )
            a(href="#" title="" class="")
              img.partner__img(
                src= partner[idx] + ".png"
                srcset= partner[idx] + "@2x.png 2x"
                title=""
                alt=""
              )

// PARTNER :: END